<section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The #{mainevent.category}<br><span>#{mainevent.title}</span> Event</h1>
      <p class="mb-4 pb-0">#{mainevent.day} #{mainevent.month} #{mainevent.year} <span> | </span> #{mainevent.location}</p>
      a(href=mainevent._id class="about-btn") About The Event
    </div>
</section>